body {
  background-color: #637081;
  background-image: linear-gradient(315deg, #637081 0%, #7c98b3 74%);
  text-align: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.logo__title,
.task__title-label,
.task__category__label {
  color: white;
  font-weight: bold;
}

.task__content {
  background-color: #393939;
  display: flex;
  justify-content: space-evenly;
}

.filters__task--completion__select {
  margin-right: 2em;
}

.filters__task.filters__task--archived {
  width: 50%;
  margin-top: 0;
  text-align: end;
}

.filters__task__select,
.filters__task__select option,
.filters__task--completion__select,
.filters__task--completion__select option {
  background-color: #F67280;
  color: white;
  font-weight: bold;
  border: 2px solid white;
}

.filters__task--archived {
  margin-top: 1rem;
}

.task--add .task__category {
  padding-right: 4em;
}

.btn-archive {
  background-color: #E1AE10;
  border: 2px solid white;
  color: white;
  font-weight: bold;
}

.filters__choice,
.filters__task__select,
.btn-archive,
.filters__task--completion__select {
  height: 2.5em;
}

.filters__task--completion:hover .filters__choice:hover,
.btn-archive:hover {
  background-color: #393939;
  color: white;
}

.task__title-field {
  display: none;
}

.task__button--desarchive,
.task__button--incomplete,
.task__button--delete {
  display: none;
}

.task--complete {
  opacity: 0.5;
}

.task--complete .task__title-label {
  text-decoration: line-through;
}

.task--complete .task__button--validate {
  display: none;
}

.task--complete .task__button--incomplete {
  display: inline-block;
}

.task--edit .task__title-label {
  display: none;
}

.task--edit .task__title-field {
  display: block;
  width: 90%;
}

.task--archive .task__button--validate,
.task--archive .task__button--modify,
.task--archive .task__button--archive {
  display: none;
}

.task--archive .task__button--desarchive,
.task--archive .task__button--delete {
  display: inline-block;
}

.task--add .task__title-field {
  display: block;
  width: 90%;
}

.task--add .task__button {
  font-size: 1rem;
}

.task__button--incomplete {
  background-color: #F67280;
  border: #F67280;
}

.task__button--archive {
  background-color: grey;
  border: grey;
}

.task__button--delete {
  background-color: #DC3A1A;
  border: #DC3A1A;
}

.task__button--desarchive {
  background-color: #419add;
  border: #419add;
}

.task__button--validate,
.task__button--add {
  background-color: #419add;
  border: #419add;
}

.task__button--archive,
.task__button--delete {
  margin-left: 0.5em;
}

.task__button:hover {
  background-color: #393939;
}

@media (min-width: 991px) {

  .logo__title {
    padding: 0.5em;
    font-family: 'Oooh Baby', cursive;
    font-size: 4em;
  }

  .filters {
    display: flex;
  }

  .filters__bootstrap__select {
    display: flex;
    width: 50%;
    justify-content: flex-start;
  }

  .task__bootstrap__add {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
  }

  .task--add .task__title {
    padding: 0 2em;
  }

  .task {
    margin: 1.5rem 0 0 0;
  }

  .task__title {
    width: 50%;
    height: 50%;
    margin: auto;
  }

  .task__title-label {
    margin-bottom: 0;
  }

  .task__bootstrap__list {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
  }

  .task__bootstrap__list .task__category__label {
    margin-bottom: 0;
  }

}

@media (max-width: 991px) {
  
  .logo__title {
    font-family: 'Oooh Baby', cursive;
    font-size: 3em;
  }

  .filters {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .filters__task.filters__task--archived {
    width: 60%;
    margin: auto;
  }

  .btn-archive {
    width: 100%;
    margin: 1em 0;
  }

  .filters__bootstrap__select {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .task__content {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    padding: 0.5em;
  }

  .logo {
    margin: 2em;
  }

  .container {
    padding-bottom: 2em;
    width: 90%;
  }

  .task__title {
    width: 100%;
    margin: auto;
    justify-content: center;
  }

  .task__title-label {
    border-bottom: 1px solid white;
    padding-bottom: 1em;
  }

  .task__title-field {
    margin: auto;
  }

  .task--add .task__content {
    padding: 2em 0;
  }

  .task__bootstrap__add {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .task__bootstrap__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
  }

  .task__button {
    width: 50px;
    height: 40px;
  }

  .task__category__label {
    margin-bottom: 0;
  }

  .task__bootstrap__add .task__category {
    height: 100%;
  }

  .task--add .task__category,
  .task--add .task__buttons {
    margin-top: 1em;
    padding-right: 1em;
  }

}